# APP
APP_CONFIG__HOST=localhost
APP_CONFIG__PORT=8000
# DB
APP_CONFIG__DB__USERNAME=postgres
APP_CONFIG__DB__PASSWORD=postgres
APP_CONFIG__DB__HOST=localhost
APP_CONFIG__DB__PORT=5432
APP_CONFIG__DB__NAME=postgres
APP_CONFIG__DB__ECHO=false
# REDIS
APP_CONFIG__REDIS__HOST=localhost
APP_CONFIG__REDIS__PORT=6379
APP_CONFIG__REDIS__DB=0
APP_CONFIG__REDIS__PASSWORD=None
# JWTTOKEN
APP_CONFIG__ACCESS_TOKEN__SECRET_KEY=1234567890